.home-bgc {
    background-color: #1ABC9C;
    height: 100vh;
}

.home{
    margin: 2rem;
    padding: 5rem 0;
}

.home h1 {
    font-size: 7rem;
    font-weight: 800;
}

.home h2 {
    font-size: 4rem;
    font-weight: 400;
}